@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');
body {
    direction: rtl;
    text-align: right;
    font-family: 'Tajawal', sans-serif;
}
.navbar-header {
    float: right;
}
.navbar-brand {
    float: right;
}
.navbar-right {
    float: left!important;
    margin-left: -15px;
    margin-right:0;
}
.navbar-nav>li {
    float: right;
}
#screenshot{
    direction: ltr
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: right;
}
.col-md-offset-3 {
    margin-right: 25%;
}
.footer-nav {
    text-align: left;}

    .btn i {
        margin-left: 10px;
    }    

.navbar-default .navbar-nav > li > a {
    font-weight: 700;
}
.btn-download {
    font-size: 1.6rem;
    letter-spacing: normal;
}
.section-title {

    font-weight: 600;

}
.icon-list li span {
    margin-left: 10px;
}
.feature-icon{
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

@media (max-width: 579px) {
    .box h3 {
        margin-right: 11px;
    }
    .col-md-offset-3 {
        margin-right: 0;
    }
    .navbar-nav>li {
        float: none;
        text-align: right;
    }
    .navbar-right {
        float: right!important;
        display: block;
    width: 100%;
    padding-right: 0;
    }
    .navbar-default .navbar-toggle {
        border-color: #273773;
    background-color: #293974;
    float: right;
      }
      .navbar-collapse {
        top: 110px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-brand {
        float: left !important;
        text-align: left;
    }

}